apiVersion: v1
kind: Service
metadata:
  name: keycloak-nodeport
  namespace: symptomcheck-backend
spec:
  type: NodePort
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 32086