apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointmentservice
  namespace: symptomcheck-backend
spec:
  replicas: 4
  selector:
    matchLabels:
      app: appointmentservice
  template:
    metadata:
      labels:
          app: appointmentservice
    spec:
      containers:
        - name: appointmentservice
          image: amir254/appointmentservice:1.0.0
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8080

          envFrom:
            - configMapRef:
                name: symptomcheck-backend-db-config
            - secretRef:
                name: symptomcheck-backend-db-secret

          env:
            - name: SERVER_PORT      # <--- CHANGE to 8080
              value: "8080"
            - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
              value: "org.postgresql.Driver"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "none"
            - name: SPRING_JPA_SHOW_SQL
              value: "false"
            - name: SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT
              value: "org.hibernate.dialect.PostgreSQLDialect"
            - name: SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL
              value: "true"


