apiVersion: v1
kind: ConfigMap
metadata:
  name: symptomcheck-backend-db-config
  namespace: symptomcheck-backend
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://symptomcheck-database-1.cjiakyye42a0.us-east-1.rds.amazonaws.com:5432/medical_clinic_service_db"
  SPRING_DATASOURCE_USERNAME: "postgres"

  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
  MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: "always"

  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://keycloak:8080/realms/symptomcheck-realm"
